<% active = "About Me" if active.nil? %>
<div class="navbar">
  <div class="navbar-inner">
    <a class="brand" href="#">Felipe Munera Savino</a>
    <ul class="nav">
      <li class="<%= active.eql?('About Me') ? 'active' : '' %>"><%= link_to "About Me", "/homepage/aboutme", :class => "header_link" %></li>
      <li class="<%= active.eql?('Academics') ? 'active' : '' %>"><%= link_to "Academics", "/homepage/academics", :class => "header_link"%></li>

      <li class="<%= active.eql?('Research') ? 'active' : '' %>"><%= link_to "Research", "/homepage/research", :class => "header_link"%></li>

       <li class="<%= active.eql?('Entrepreneurship') ? 'active' : '' %>"><%= link_to "Entrepreneurship", "/homepage/entrepreneurship", :class => "header_link"%></li>

       <li class="<%= active.eql?('Hobbies') ? 'active' : '' %>"><%= link_to "Hobbies", "/homepage/hobbies", :class => "header_link"%></li>

       <li class="<%= active.eql?('Contact') ? 'active' : '' %>"><%= link_to "Contact", "/homepage/contact", :class => "header_link"%></li>

       

     <!--  <li><a href="#">Hobbies</a></li>
      <li><a href="#">Extras</a></li> -->
    </ul>
  </div>
</div>