<% active = "Academics" %>
	<%= render :partial =>"navbar", :locals => {:active => "Academics"} %>

  <div class="row-fluid">
  <%= render :partial =>"sidebar" %>
    <div class="span9">
 		<div class = "content-block ">
 			<h1 class="center_content_title">Academics</h1>
 				<p class="lead">
	I am currently a first year Computer Science master student at Stanford University with distinction in research.  

  Here is more information about the some courses I have taken and what I have learned from them. Most of the CS courses listed here are graduate level courses. 
				</p>

		<h3 class="center_content_title"> Computer Science </h3>
			<div class="row">
				
				<div class= "span1"> </div>
		  		<div class="span6">
		  			<h4>CS 221, Artificial Intelligence: Principles and Techniques</h4> 
		  			This class covered a broad understanding of AI, topics included search, constraint satisfaction, knowledge representation, probabilistic models, Bayesian networks, machine learning, neural networks, vision, robotics, and natural language processing. Checkout our final project and the paper for which my partner and I received extra credit. We built and compared two ways to recommend songs to users. The paper is <%= link_to "here", "ai_paper_felipemunera_albertolalama.pdf"%>. Contact me if you want the code!

		  			
				</div>
		  		<div class="span3"><%= image_tag("ai_image.png", :class => "img-circle img_academic")  %></div>
			</div>
			
			<div class="row">
				
				<div class= "span1"> </div>
		  		<div class="span6">
		  			<h4>CS 140, Operating Systems </h4>
		  			This class introduced me to the basic facilities provided in modern operating systems. The course was divided into three major sections. The first part of the course discusses concurrency. I learned about processes and threads, context switching, synchronization, scheduling, and deadlock scenarios. The second part of the course addresses the problem of memory management; we covered linking, dynamic memory allocation, dynamic address translation, virtual memory, and demand paging. Thirdly, I learned about the fundamentals of file systems, including topics such as storage devices, disk management and scheduling, directories, protection, and crash recovery.
			<br>

			This was a hard course, perhaps one of the toughest in the CS major at Stanford. I had a blast.
				</div>
		  		<div class="span3">
		  			<br><%= image_tag("va_image.gif", :class => "img-polaroid img_academic")  %></div>
			</div>

			<div class="row">
				
				<div class= "span1"> </div>
		  		<div class="span6">
		  			<h4>CS259D, Data Mining for Cyber Security </h4>
		  			The massive increase in the rate of novel cyber attacks has made data-mining-based techniques a critical component in detecting security threats. The course covers various applications of data mining in computer and network security. Topics include: Overview of the state of information security; malware detection; network and host intrusion detection; web, email, and social network security; authentication and authorization anomaly detection; alert correlation; and potential issues such as privacy issues and adversarial machine learning.T
			<br>

			This was a hard course, perhaps one of the toughest in the CS major at Stanford. I had a blast.
				</div>
		  		<div class="span3">
		  			<br><%= image_tag("cybersecurity_virus.jpg.gif", :class => "img-polaroid img_academic")  %></div>
			</div>
			
		<div class="row">
			<div class= "span1"> </div>
		  		<div class="span6">
		  				<h4>CS 155, Computer and Network Security </h4> 
		  			I was taught about the principles of computer systems security, attack techniques and how to defend against them. Topics included: network attacks and defenses, operating system security, application security (web, apps, databases), malware, privacy, and security for mobile devices. The course projects focused on hacking into faulty code (OS, web, android) and then building secure alternatives.  
				</div>
		  		<div class="span4"><%= image_tag("comp_security.jpg", :class => " img_academic")  %></div>
		</div>
		<div class="row">
			<div class= "span1"> </div>
		  	<div class="span6">
		  	<h4>CS 316 Advanced Multi-core systems </h4> 

		  			CS316 provided me with in-depth coverage of the architectural techniques used in modern multi-core chips for mobile and server systems. It covers advanced processor design techniques (superscalar cores, VLIW cores, multi-threaded cores, energy-efficient cores), cache coherence, memory consistency, vector processors, graphics processors, heterogeneous processors, and hardware support for security and parallel programming, and advanced memory systems. I became familiar with complex trade-offs between performance-power-complexity, hardware-software interactions, and architecture-technology interactions. A central part of CS316 is a project on an open research question on multi-core technologies. We did ours on disaggregated memory. Paper coming soon! 
		  					</div>
		  		<div class="span4"><%= image_tag("cool_processor.jpeg", :class => " img_academic")  %></div>
		</div>	
		<div class="row">
			<div class= "span1"> </div>
		  	<div class="span6">
		  	<h4>CS 142, Web Applications </h4> 
		  			This class introduced me to the different Web technologies and gave me experience creating Web applications. I learned about markup languages, scripting languages, network protocols, interactive graphics, event-driven programming, and databases, and understood the interplay of these technologies to create modern web applications. This webpage is built using the principles taught in this class! Ruby on Rails, JS, HTML/CSS, and the works... 
			</div>
		  		<div class="span4"><%= image_tag("rails1.png", :class => " img_academic")  %></div>
		</div>	
		<div class="row">
			<div class= "span1"> </div>
		  		<div class="span6">
		  				<h4>CS 249A, Object-Oriented Programming from a Modeling and Simulation Perspective </h4> 
		  				Taught by  <a href="http://en.wikipedia.org/wiki/David_Cheriton">Prof. David Sheriton </a>
		  			This course examines object-oriented programming techniques and issues, emphasizing programming as modeling and simulation. Covers the role of programming conventions, style, restrictions and patterns to leverage object-oriented programming programming-in-the-large. We covered issues involved in developing large-scale object-oriented software systems,
					in how programming style conventions and language restrictions can ease object-oriented software development, and
					it provided us with insight into class library interface design.
					We designed and implemented a simulation in C++ in several stages, including viral infections and a shipping network. 
				</div>
		  		<div class="span4"><%= image_tag("molecular_system.png", :class => " img_academic")  %></div>
		</div>
		<div class="row">
			<div class= "span1"> </div>
		  		<div class="span6">
		  				<h4>CS 181, Computers, Ethics, and Public Policy </h4>   
		  			We looked at the ethical and social issues related to the development and use of computer technology. We examined ethical theory, and social, political, and legal considerations. Scenarios in problem areas: privacy, reliability and risks of complex systems, and responsibility of professionals for applications and consequences of their work. Our final project focoused on OFFENSIVE cyber security: the ethics of hacking back! <a href="http://afternoon-refuge-8948.herokuapp.com/intro/welcome">The final project can be viewed here. </a>
				</div>
		  		<div class="span4"><%= image_tag("tracking.jpg", :class => " img_academic")  %></div>
		</div>

		<div class="row">
			<div class= "span1"> </div>
		  		<div class="span6">
		  				<h4>CS 103, Mathematical Foundations of Computing  </h4> 
		  			I was shown the mathematical foundations required for computer science, including propositional predicate logic, induction, sets, functions, and relations. I learned about formal language theory, including regular expressions, grammars, finite automata, Turing machines, and NP-completeness. Overall it was a course on mathematical rigor, proof techniques, and application.
				</div>
		  		<div class="span4"><%= image_tag("pvsnp.jpeg", :class => " img-polaroid img_academic")  %></div>
		</div>
		<div class="row">
			<div class= "span1"> </div>
		  		<div class="span6">
		  				<h4>CS 109, Introduction to Probability for COmputer Scientists  </h4> 
		  			We covered counting and combinatorics, random variables, conditional probability, independence, distributions, expectation, point estimation, and limit theorems. Applications of probability in computer science including machine learning and the use of probability in the analysis of algorithms
				</div>
		  		<div class="span4"><%= image_tag("dice.jpeg", :class => " img-polaroid img_academic")  %></div>
		</div>
		<div class="row">
			<div class= "span1"> </div>
		  		<div class="span6">
		  				<h4>EE282: Computer Systems Architecture  </h4> 
		  			EE282 focuses on advanced system-level architecture techniques for devices ranging from portable systems to warehouse-scale datacenters. It covers topics such as cache hierarchies, main memory systems, non-volatile storage, advanced IO systems, virtualization, power management, and datacenter hardware and software architecture. The programming assignments provided me an introduction to performance analysis and optimization techniques for computer systems. I know understand how computer systems are organized and, more importantly, why they are organized that way. Finally, I got a great grasp between the hardware and software layers in modern systems.
		  		</p>
					 EE282 is appropriate for graduate and advanced undergraduate students specializing in the broad field of computer systems. It is also appropriate for other EE and CS students who want to understand, program, and make efficient use of modern computer systems of any scale in their day-to-day work.
				</div>
		  		<div class="span4"><%= image_tag("datacenter.jpg", :class => " img_academic")  %></div>
		  		
		</div>
		<div class="row">
			<div class= "span1"> </div>
		  		<div class="span6">
		  				<h4>EE108b: Digital Systems II </h4> 
		  			EE108b introduces us to architecture and design of efficient computing and storage systems. The main topics include: overview of key techniques for efficient systems, efficiency metrics (performance, power and energy, cost), hardware/software interface (instruction set, data and thread-level parallelism), processor design (pipelining and vectors), custom accelerator design, cache memories, main memory, basic I/O techniques, and architectural support for operating systems.  The programming assignments involve optimizing the efficiency image processing applications on a portable computing platform.
				</div>
		  		<div class="span4"><%= image_tag("processor.jpeg", :class => " img_academic")  %></div>

		</div>
<h3 class="center_content_title"> Miscellaneous </h3>
			<div class="row">
				
				<div class= "span1"> </div>
		  		<div class="span6">
		  			<h4>CEE 151, Negotiation</h4> 
		  			I learned about preparing and conducting negotiations in a variety of arenas including getting a job, managing workplace conflict, negotiating transactions, and managing personal relationships. This was a highly interactive class taught by Stan Christensen, a travelled instructor who has mediated cases in over 75 countries!  He required us to negotiate real life case studies and discuss their results in class, including cross-negotiations with the Stanford Law School. One of the most useful classes I have ever taken. 

		  			<br>
		  			Fun Fact: I was the only freshman who was accepted into the class at the time. I negotiated myself into a negotiations class, how fitting!
				</div>
		  		<div class="span4"><%= image_tag("negotiation.jpg", :class => " img_academic")  %></div>
			</div>

			<div class="row">
				
				<div class= "span1"> </div>
		  		<div class="span6">
		  			<h4>AA 241X: Design, Construction, and Testing of Autonomous Aircraft</h4> 
		  			We were grouped  according to our expertise to carry out the multidisciplinary design of a solar-powered autonomous aircraft that had to meet a clearly stated set of design requirements. We did everything: design and construction of the airframe, integration with existing guidance, navigation, and control systems, and development and operation of the resulting design. We finally wrote a 50 page paper on the design review and on the final flight report. 

		  			<br>
		  			Fun Fact: I was the only UNDERGRADUATE student who took this class, everyone else was either a PHD or masters in areo and astro engineering. My extensive experience bulding radio controlled airplanes and helicopters proved invaluable in the rapid prototyping and engineering challenges we faced. I was also the pilot of the autonomous aircrafts while we programmed the autopilot. An amazing team-building experience. 
				</div>
				<br>
		  		<div class="span4"><%= image_tag("team_pangaea.jpg", :class => " img_academic")  %></div>
			</div>


	</div>
	

		<div class="span1">
		</div>

