<% active = "Academics" %>
  <%= render :partial =>"navbar", :locals => {:active => "Hobbies"} %>

<div class="row-fluid">
  <%= render :partial =>"sidebar" %>
  <div class="span9">
    <div class = "content-block lead">
      <h2 class="center_content_title">Muay Thai </h2>
          <p class="center_content_title ">Fuel the body. Enrich your life. 
          </p>

          <div class="row">
                
          <div class= "span1"> </div>

          <div class="span5">
            
            <br>
            A professional Muay Thai fighter can deliver a kick more powerful than a baseball bat, a knee strike equivalent to a car crashing at 56kph (35mph) and a lengthly combination of these attacks under a second. Yet, as my involvement in the martial art has shown me, the fruition of these skills is not only rooted in physical feats, but in an elaborate mix between the mind, body, and spirit. 

            <br>
            <br>
            This martial art teaches, through pain tolerance, discipline, and focus, a supreme level of self control. This is due to the fact that Muay Thai was designed by the Siamese military to equip their soldiers with deadly skills in case they lost their weapons. It was designed to be deadly. Muay Thai is also called the art of eight limbs, as it allows striking with legs (shins), knees, fists and elbows, forging the human body into a powerful weapon. The martial art then evolved into Thailand's national sport, however, the martial art remains mostly unchanged after hundreds of years. 

            <br>
            <br>
            I currently practice Muay Thai regularly, and I am an instructor in the Stanford Muay Thai group, teaching beginner and advanced classes.
            If you are interested in training with us (we accept all skill levels, even if you know absolutely nothing) feel free to email me or visit the 

<%= link_to "Stanford Muay Thai site.", "www.kickboxing.stanford.edu"%>


            <br>

          </div>
           <div class="span4">

            <%= image_tag("muay_thai_kick.jpg" , :class => "img-polaroid img_academic")  %>
            <%= image_tag("muay_thai_guard.jpg" , :class => "img-polaroid img_academic")  %>
            <%= image_tag("muay_thai_punch.jpg" , :class => "img-polaroid img_academic")  %>

            
           </div>


    </div>
      <%= image_tag("stanford_kick.png" , :class => " img_academic to_center_small")  %>
  </div>
</div>
<div class="span1">
    
</div>



 
    


 