
	<%= render :partial =>"navbar", :locals => {:active => "Research"} %>

  <div class="row-fluid">
  <%= render :partial =>"sidebar" %>
    <div class="span9">
		<div class = "content-block ">
			<h2 class="center_content_title">Research </h2>
			<p class="lead">
			Pushing the boundaries of human knowledge is an attitude so core to the human element that we must do it so frequently and so agressively that we can only go to sleep at night knowing there wasn't anything else we could've known that day, for the essence of fresh knowledge is one of life's greatest gifts.
			</p>

			
			<div class= "research_div">
				<ul class="nav nav-tabs">
			  <li >
			    <a href="/homepage/research">ARM64 servers</a>
			  </li>
			  <li class="active">
			  	<a href="#">Automatic Stall/Spin Recovery</a>
			  </li>
			</ul>
				<h3 class="center_content_title"> Auto Stall/Spin Recovery </h3>
				<h5 class="center_content_title" > Making flying safer</h5>
				<br>
				<div class="row">
								
					<div class= "span1"> </div>
					<div class="span5">

					<h4 "center_content_title">  Motivation</h4>

					25% of the deaths in small aircraft are because the airplane enters a stall/spin. In a Stall/Spin upset, the pilot inadvertently enters a flight condition where one side of the wing suddenly surpasses its maximum aerodynamic capacity, breaking its “bond” with the air and violently dropping, setting the aircraft into a hazardous downward spinning motion, often resulting in deadly collision with the ground. Expert human pilots are capable of recovering from a Stall/Spin upset, but this requires additional training, and experience has shown that even for experts, the high speed of rotation during Stall/Spin, the unexpectedness of the upset and fatigue, severely reduce a pilotʼs ability to focus, regain orientation and take the right control actions in time to avoid collision. This context promotes the vision that, if we want to make small aircraft a more accessible and secure means of transport, which would in turn impact the broader transportation and energy problem, future designs will have to incorporate on-board computers to actively aid the pilot throughout the entire flight. Following this, this research focuses on developing a computer system capable of automatically recovering small aircraft from the dangerous and statistically significant Stall/Spin upset which, if implemented correctly, would have a notable impact on the safety of small personal aircraft and the training requirements for pilots.
					<br>

					<small><i> Taken from Robbie's research description </i></small>
							


					<h4 "center_content_title">  The project</h4>
							This research project is in essence an interdisciplinary endeavor, since it requires deep understanding of 3 distinct fields: Aircraft Aerodynamics, Control Theory and Artificial Intelligence. Not only does it require deep understanding, but also the ability to precisely identify and combine those concepts that will make possible a breakthrough both at the theoretical and practical level of Aerospace Systems.

<small><i> Taken from Robbie's research description </i></small>

					<h4 "center_content_title">  My Role</h4>
					I work with Robbie on the implementation side of the research topic. Developing this system requires doing extensive flight testing on airplanes ranging from 3-12 foot wingspan.  Mainly, I operate all the radio controlled aircraft needed to carry out the research, including putting and recovering them from different stall/spins and other maneuvers. Protecting thousands of dollars in research with my piloting abilities. Furthermore,  I also provide building and setup support when assembling these complex systems. 


						<h4 "center_content_title">  Goals of flight testing</h4>
							  			
					The overall goals of the flight testing campaign are:
					<ol>
						<li>Demonstrate stall/spins on small scaled aircraft</li>
						<li>Gain experience in the logistics and overall operations of a stall/spin campaign</li>
						<li>Study qualitatively the stall/spin characteristics, this includes:</li>
						<ul>
							<li>Flight condition and control actions for spin entry, and its repeatability</li>
							<li>Control sequence and trajectory for early arrest and recovery, and its repeatability</li>
							<li>Control sequence for recovery from developed spin</li>
							<li>Effects of moving CG aft on all of the above
</li>
							<li>Effect of adding more weight and roll, pitch and yaw inertias Aileron roll control effectiveness at different stages of the spin </li>
							<li>Altitude loss at different stages of the spin</li>


						</ul>

						<li>Study quantitatively, by analyzing flight data, the above mentioned stall/ spin characteristics.</li>
						<li>Study qualitatively and quantitatively the stall/spin characteristics from a steady turn</li>
						<li>Study the effect of lowering both ailerons, to emulate a positive twist to the wing, on the stall/spin characteristics</li>
						<li>Develop a control system that can enter a stall/spin automatically, both from straight and level flight and a steady turn</li>
						<li>Hard code a recovery control sequence for early arrest of spin entry, and demonstrate its effectiveness in flight.</li>
					</ol>

<small><i> Taken from Robbie's research description </i></small>
			
					</div>
					<div class="span4">

						<%= image_tag("stall_spin.jpg", :class => "img-polaroid img_academic")  %>
						<%= image_tag("robbie.jpg", :class => "img-polaroid img_academic")  %><small><i> Robbie Bunge, head of the project</i></small>

						<%= image_tag("felipe_violeta.png" , :class => "img-polaroid img_academic")  %>

						<%= image_tag("violeta.png" , :class => "img-polaroid img_academic")  %>


					</div>
				</div>
			</div>	
		</div>
	</div>
</div>
	<div class="span1">
	    
	</div>






